---
import Principal from "../layouts/principal.astro";
import TitleCard from "../components/Title_card.astro";
import { DIRECTION_CARD } from "../components/Title_card.astro";
import Card from "../components/card.astro";
import { GRAPHIC_TYPE } from "../components/card.astro";
---
<Principal title="About Project" indexSelected="2">
    <TitleCard
    titleCard=""
    descriptionCard="What's the foundation survive?"
    direction={DIRECTION_CARD.NORMAL}
    isImage={true}
    imageSRC="../../public/images/anomaly-asking.png"
    altImage="Presentation"
    shadowImg={true}
    >
    <p>It is a video game based on "The SCP Foundation" web novels. The game is expected to tell you several stories about characters experiencing a containment breach, where each one will tell you their experiences living through this horrible event. Discovering things about the foundation and other stories. Mixing horror, suspense and action on the journey.</p>
    </TitleCard>

    <div style="margin-top: 15vh;">
        <TitleCard
    titleCard=""
    descriptionCard=`THE "STUDIO"`
    direction={DIRECTION_CARD.REVERSE}
    isImage={true}
    imageSRC="../../public/images/team-logo.avif"
    altImage="team logo"
    >
    <p>We are not really a studio but we would like to call it that, in case this progresses. We are just a couple of guys who like stories and telling them through video games. The team's goal is to start developing games of all kinds for the community, action, adventure, puzzles, multiplayer, horror and others. This in the future (near we hope).</p>
    </TitleCard>
    </div>

    <div class="team-container">
        <h4 class="title">OUR TEAM</h4>
        <p class="creepy-text">The people who work on the project.</p>
        <div class="grid-parent">
            <Card
            titleCard="David"
            srcSource="../../public/images/profile.svg"
            multimediaType={GRAPHIC_TYPE.IMAGE}
            >
            <h5 class="creepy-text">Project manager - programmer - tester</h5>
            <p>David or "Imp" is the developer and project manager of the project. <br> He's in charge that everything is in order.
                <br>He is an incredible developer and passionate about technology into this world for 2 years, so far this has been his most ambitious project.
            </p>
            <ul class="social-container">
                <li><a href="https://x.com/Imp_Gamer03" target="_blank" title="twitter/x"><i class="fa-brands fa-square-x-twitter"></i></a></li>
                <li><a href="https://github.com/ImpGamer" target="_blank" title="github"><i class="fa-brands fa-github"></i></a></li>
            </ul>

            </Card>
            <Card
            titleCard="Diego"
            srcSource="../../public/images/profile.svg"
            multimediaType={GRAPHIC_TYPE.IMAGE}
            >
            <h5 class="creepy-text">2D Artist - Ilustrator</h5>
            <p>Diego is on charge in the 2D art ambient, he creates de sprites for the project. <br>
                And why not, contribute by giving opinions or suggestions about the direction of the project.
            </p>

            </Card>
        </div>
    </div>

</Principal>

<style>
    .team-container {
        text-align: center;
        justify-content: center;
        justify-items: center;
        padding: 10px;
    }
    .title {
        font-family: "Rubik Spray Paint", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 4rem;
        color: #801423;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .grid-parent {
        margin-top: 15vh;
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 50px;
    }
    @media (width <= 700px) {
        .grid-parent{
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }

    .social-container {
        margin-left: auto;
        padding: 0;
        display: flex;
    }

    .social-container li {
        font-size: 1.4rem;
        align-items: center;
        justify-content: center;
        &:hover {
            transform: scale(1.2);
        }
    }
    ul {
        margin: 0;
        padding-left: 0;
        justify-content: center;
        text-align: center;
    }
    li {
        text-align: start;
        list-style-type: none;
        margin: 10px;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
</style>