---
import Principal from "../layouts/principal.astro";
import LargeCard from "../components/large_card.astro";
import Card from "../components/card.astro";
import { DIRECTION_CARD } from "../components/Title_card.astro";
import { GRAPHIC_TYPE } from "../components/card.astro";

function formatString(text) {
    return text.replace(/ /g,"%20")
}
---
<Principal title="Join Us" indexSelected="3">
    <LargeCard titleCard="Be part of our community"
        srcImage="/images/logo.gif"
        direction={DIRECTION_CARD.NORMAL}>
        <div style="margin-top: 8%;" class="text">
            <p><span class="creepy-text">Discord</span> is our principal way to communicating with the community.
            <br>There will be people with whom you can talk and share a lot of things, events and news (more often). And more!
            <br>It's a place where the community can share opinions and we listen to you.
            </p>

        <!-- so if you want to belong here. -->
        <a href="https://discord.gg/uW7CxedBPT" target="_blank" class="btn btn-primary">
            <i class="fa-brands fa-discord"></i>
            JOIN IN!
        </a>
        </div>
    </LargeCard>
    <div class="team-container">
        <h3 class="title">¡JOIN TO OUR TEAM!</h3>
        <p class="creepy-text">¿Do you think you have the skills to participate in a video game project?</p>
        <p class="text">You can try it in one of our areas.</p>
        <div class="grid-parent">
            <Card
            titleCard="Developer (Programming)"
            srcSource="/images/programmer.webp"
            multimediaType={GRAPHIC_TYPE.IMAGE}>
            <div class="content-card">
                <p>You'll be a fundamental piece in the development and maintenance of the software, a developer will be in charge of giving life to the game.
                    You will have to have basic-intermediate programming knowledge with C#, Unity and other tools.</p>
                    <button class="btn btn-danger" type="button">
                        <a href=`mailto:impgamer333@gmail.com?subject=${encodeURIComponent("Developer")}&body=${formatString("Hi! I would like to know more about the developer position (you can modify this message)")}`><span><i class="fa-solid fa-envelope"></i></span> Send Email</a>
                    </button>
            </div>
            </Card>
            <Card
            titleCard="UI/UX Designer"
            srcSource="/images/UI-UX.webp"
            multimediaType={GRAPHIC_TYPE.IMAGE}>
            <div class="content-card">
                <p>An UI/UX Designer will be a fundamental piece for a comfortable and intuitive experience for the user.
                    Giving the player an easy and immersive gaming experience.
                </p>
                <button class="btn btn-danger" type="button">
                    <a href=`mailto:impgamer333@gmail.com?subject=${encodeURIComponent("UI/UX Designer")}&body=${formatString("Hi! I would like to know more about the UI/UX Designer position (you can modify this message)")}`><span><i class="fa-solid fa-envelope"></i></span> Send Email</a>
                </button>
            </div>
            </Card>
            <Card
            titleCard="3D Artist - Animator"
            srcSource="/images/artist3D.webp"
            multimediaType={GRAPHIC_TYPE.IMAGE}
            >
            <div class="content-card">
                <p>A great pillar for the advancement of the project, you will be in charge of creating the most important artistic aspect, the characters and their movements, as well as cinematics and animations. Knowledge of some modeling and animation software such as Blender, Maya, AutoDesk or another.</p>
                <button type="button" class="btn btn-danger">
                    <a href=`mailto:impgamer333@gmail.com?subject=${encodeURIComponent("3D Artist - Animator")}&body=${formatString("Hi! I would like to know more about the 3D Artist position (you can modify this message)")}`><span><i class="fa-solid fa-envelope"></i></span> Send Email</a>
                </button>
            </div>

            </Card>
            <Card
            titleCard="Digital Marketing"
            srcSource="/images/digital-marketing.webp"
            multimediaType={GRAPHIC_TYPE.IMAGE}
            >
            <div class="content-card">
                <p>Our portal to the community, you will help us share and spread the project so that it reaches more people and expands the community, as well as attracting the attention of other teams or companies.</p>
                <button class="btn btn-danger" type="button">
                    <a href=`mailto:impgamer333@gmail.com?subject=${encodeURIComponent("Digital Marketing")}&body=${formatString("Hi! I would like to know more about the Digital Marketing position (you can modify this message)")}`><span><i class="fa-solid fa-envelope"></i></span> Send Email</a>
                </button>
            </div>
            </Card>
        </div>
        <p class="text" style="margin-top: 40px;">Before sending us a message, remember that we are an independent team and we are just starting out, so we do not offer high positions or large salaries. Obviously trying to reward you as much as possible for your work and efforts. <b>So consider this before contact us.</b></p>
    </div>
</Principal>

<style>
    .grid-parent {
        margin-top: 120px;
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10vh;
    }
    .team-container {
        margin-top: 10vh;
        text-align: center;
        justify-items: center;
    }

    .title {
        font-family: "Rubik Spray Paint", system-ui;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        font-size: 4.5em;
        color: #801423;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media (width <= 1060px) {
        .grid-parent {
            margin-top: 70px;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
</style>