---
const {titleCard,srcSource,multimediaType,posterImage=''} = Astro.props

export const GRAPHIC_TYPE = Object.freeze({
  IMAGE: 'image',
  VIDEO: 'video'
});

function getTypeSource() {
    const extension = srcSource.split('.').pop()
    console.log(extension)
    return extension;
}
---

<div class="card-container card">
    {multimediaType === GRAPHIC_TYPE.IMAGE ? (
        <img src={srcSource} alt={titleCard} class="resp-image img-fluid"/>
    ) : (
    <video controls poster={posterImage}>
        <source src={srcSource} type={`video/${getTypeSource()}`}>
        Your navigator doesn't support this video.
    </video>
    )}
    <div class="content text">
        <h4 class="title">{titleCard}</h4>
        <slot/>
    </div>
</div>

<style>
    .card-container {
        overflow: hidden;
        width: 35vw;
        border-radius: 20px;
        background-color: rgba(1,1,1,0.5);
        box-shadow: 4px 4px 3px black;
    }
    .content {
        margin-top: 15px;
        text-align: center;
        color: white;
        padding: 5%;
    }
    .resp-image {
        max-height: 70%;
        max-width: 100%;
    }

    .title {
        font-family: "Rubik Spray Paint", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 1.6rem;
        color: #801423;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @media (width <= 1060px) {
        .card-container {
            width: 100%;
        }
    }
</style>