---
import Principal from "../../layouts/principal.astro";
import TitleCard from "../../components/Title_card.astro";
import { DIRECTION_CARD } from "../../components/Title_card.astro";
import Card from "../../components/card.astro";
import { GRAPHIC_TYPE } from "../../components/card.astro";
---
<Principal title="About Project" indexSelected="2">
    <TitleCard
    titleCard=""
    descriptionCard="Que es la foundation survive?"
    direction={DIRECTION_CARD.NORMAL}
    isImage={true}
    imageSRC="/images/anomaly-asking.webp"
    altImage="Presentation"
    shadowImg={true}
    >
    <p>
        Es un videojuego basado en las novelas web "La Fundacion SCP". El juego tratara de contarte varias historias sobre diferentes personajes experimentando una brecha de conteci칩n, donde cada uno de los protagonistas te mostrara su experiencia viviendo este horrible suceso. Descubriendo en el camino cosas y otras historias sobre la fundaci칩n, algunos cuestionables. Mezclando el horror, suspenso y accion durante el viaje.</p>
    </TitleCard>

    <div style="margin-top: 15vh;">
        <TitleCard
    titleCard=""
    descriptionCard=`El "STUDIO"`
    direction={DIRECTION_CARD.REVERSE}
    isImage={true}
    imageSRC="/images/team-logo.avif"
    altImage="team logo"
    >
    <p>
        Realmente no somo un estudio, pero nos gustaria llamarlo asi, en caso de que esto progrese. Solo somos un par de chicos que les gusta contar historias atravez de los videojuegos. La meta del equipo es agrandarlo y comenzar a crear videojuegos de todo tipo para la comunidad, acci칩n, aventura, puzzles, multijugadores, horror y otros. Esto en un futuro (esperamos que cercano).</p>
    </TitleCard>
    </div>

    <div class="team-container">
        <h4 class="title">NUESTRO EQUIPO</h4>
        <p class="creepy-text">La gente que trabaja para el proyecto</p>
        <div class="grid-parent">
            <Card
            titleCard="David"
            srcSource="/images/profile.svg"
            multimediaType={GRAPHIC_TYPE.IMAGE}
            >
            <h5 class="creepy-text">Director de equipo - programador - tester</h5>
            <p>David o "Imp" es el desarrollador y lider de equipo en el proyecto.<br> 
                El esta a cargo de que todo este en orden. <br>
                Es un increible desarrollador, apasionado por la tecnologia llevando 2 a침os en el mercado, este ha sido su proyecto mas ambicioso hasta el momento.
            </p>
            <ul class="social-container">
                <li><a href="https://x.com/Imp_Gamer03" target="_blank" title="twitter/x"><i class="fa-brands fa-square-x-twitter"></i></a></li>
                <li><a href="https://github.com/ImpGamer" target="_blank" title="github"><i class="fa-brands fa-github"></i></a></li>
            </ul>

            </Card>
            <Card
            titleCard="Diego"
            srcSource="/images/profile.svg"
            multimediaType={GRAPHIC_TYPE.IMAGE}
            >
            <h5 class="creepy-text">Artista 2D - Ilustrador</h5>
            <p>Diego esta a cargo del ambiente 2D, el crea los sprites para el proyecto.<br> Y porque no, contribuye dando opiniones o sugerencias sobre la direccion del proyecto. 
            </p>

            </Card>
        </div>
    </div>

</Principal>

<style>
    .team-container {
        text-align: center;
        justify-content: center;
        justify-items: center;
        padding: 10px;
    }
    .title {
        font-family: "Rubik Spray Paint", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 4rem;
        color: #801423;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .grid-parent {
        margin-top: 15vh;
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 50px;
    }
    @media (width <= 700px) {
        .grid-parent{
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }

    .social-container {
        margin-left: auto;
        padding: 0;
        display: flex;
    }

    .social-container li {
        font-size: 1.4rem;
        align-items: center;
        justify-content: center;
        &:hover {
            transform: scale(1.2);
        }
    }
    ul {
        margin: 0;
        padding-left: 0;
        justify-content: center;
        text-align: center;
    }
    li {
        text-align: start;
        list-style-type: none;
        margin: 10px;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
</style>