---
import MenuNavegator from "../components/menu_navegator.astro"
import Footer from '../components/footer.astro'
import '../../node_modules/bootstrap/dist/css/bootstrap.min.css'
const {title} = Astro.props
const {indexSelected="0"} = Astro.props;

const {currentLocale} = Astro;
---

<!DOCTYPE html>
<html lang={currentLocale}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Foundation Survive oficial website. Where you can see all the news, community and about the project">
    <meta name="keywords" content="Foundation, Survive, SCP, Game">
    <meta name="author" content="Imp Dev">
    <link rel="stylesheet" href="/global.css">
    <link rel="icon" href="/images/Icon_SCP.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.155.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.155.0/examples/jsm/"
          }
        }
      </script>
    <title>{title}</title>
</head>
<body>
    <header>
        <MenuNavegator indexSelected=`${indexSelected}`/>
    </header>
    <main>
        <div class="main-container">
            <slot/>
        </div>
    </main>
    <footer>
        <Footer/>
    </footer>
</body>
</html>

<style>
:root {
    --background-colorUp: #d4d3d1;
    --background-colorDown: #333333;
}

html, body {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
body {
    background: linear-gradient(var(--background-colorUp), var(--background-colorDown));
    display: flex;
    flex-direction: column;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
main {
    margin-top: 50px;
    padding: 1vw;
}
.main-container {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
</style>